*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
@font-face {
    font-family: 'irannastaliq';
    src: url('../fonts/IranNastaliq.ttf') format(truetype);
}
@font-face {
    font-family: 'Anafis';
    src: url('../fonts/ANafis.ttf') format(truetype);
}
@font-face {
    font-family: 'Mj';
    src: url('../fonts/Mj_Mashtour_0.ttf');
}
@font-face {
    font-family: 'fantezyy';
    src: url('../fonts/Mj_Mashtour_0.ttf') format(truetype);
}
@font-face {
    font-family: Bnazanin;
    src: url('../fonts/Far_Nazanin.ttf')format('truetype');
}
@font-face {
    font-family: 'Btitr';
    src: url('../fonts/B\ Titr\ Bold_0.ttf')format('truetype');
}
.container{
    width: 100%;
height: 110px;
background-color: orangered;
position: relative;
}
.rightnav{
    position: absolute;
    right: 30px;
    list-style-type: none;
}
.rightnav li{
color: rgb(0, 0, 0);
font-size: 55px;
font-family: irannastaliq;
}

.leftnav{
    position: absolute;
    left: 30px;
    list-style-type: none;
}
.leftnav li{
display: inline-block;
margin-top: 15px;
padding: 20px ;
font-family: Mj;
font-size: 25px;
}
.anav{
    text-decoration: none;
    color: black;
}

.body{
width: 100%;
height: 1500px;
background-color: rgba(255, 0, 0, 0.164);
position: relative;

}
.rightside{
    position: absolute;
    right: 45px;
    top: 30px;
    background-color: whitesmoke;
    width: 55%;
    height: 900px;
    border-radius: 25px 25px 20px 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.692);
    color: black;
}
.up{
width: 100%;
position: absolute;
background-color: rgb(255, 68, 0);
height: 80px;
border-radius: 25px 25px 0 0;
color: white;
font-family: Btitr;
text-align: center;
font-size: 30px;
padding-top: 15px;
}
.leftside{
    position: absolute;
    left: 72px;
    top: 150px;
    background-color: orangered;
    width: 30%;
    height: 900px;
    border-radius: 25px 25px 20px 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.692);

}
.banner{
    border-radius: 25px 25px 5px 5px;
    position: absolute;
    left: 15%;
    bottom: 95%;
    width: 70%;
    box-shadow: 0 0 25px black;
}
.bodytext{
    position: absolute;
    top: 100px;
}
.rezomegiri{
    font-family: Bnazanin;
    margin: 5px;
    font-size: 20px;
padding: 35px 12px 0 12px;
color: black;
}
.rezomegiri p {
    margin: 15px;
}
.bodylist{
margin: 25px;
}





.footer{
width: 100%;
height: 80px;
background-color:orangered ;
}
.footermenu{
    position: relative;
}
.scrollup{
background-color: rgb(0, 161, 161);
width: 70px;
height: 70px;
border-radius: 50%;
position: absolute;
left: 20px;
top: -5px;
text-align: center;
margin-top:-44px;
}
.scrollp{
margin-top: 15px;
font-size: 30px;
color: whitesmoke;
font-family: Mj;
}
.linkscroll{
    text-decoration: none;
}
.footermenu2 p{
    font-family: Btitr;
text-align: center;
padding: 20px;
font-size: 20px;
}
